<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>container</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">container</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<ion-tabs>
	<ion-tab-bar slot="bottom">
		
		<ion-tab-button tab="home">
			<ion-icon name="home"></ion-icon>
		</ion-tab-button>

		<ion-tab-button tab="stories">
			<ion-icon name="play"></ion-icon>
		</ion-tab-button>

		<ion-tab-button tab="profile">
			<ion-icon name="person-circle"></ion-icon>
		</ion-tab-button>

		<ion-tab-button tab="settings">
			<ion-icon name="cog"></ion-icon>
		</ion-tab-button>

	</ion-tab-bar>
</ion-tabs>