/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

// @import "@ionic/angular/css/palettes/dark.always.css";
// @import "@ionic/angular/css/palettes/dark.class.css"; 
// @import '@ionic/angular/css/palettes/dark.system.css';
@import "tailwindcss";


@theme {
	/* denifition de couleurs ou theme du site */
	/* found color --------------------- */
	--color-clr-bg: #F3F4F6; 
	--color-clr-bg-dark: #1F1F1F;

	/* text color ----------------- */
	--color-clr-text: #1F1F1F;
	--color-clr-text-white: #F3F3F3;
	--color-clr-span: #364153;
	--color-clr-span-white: #99A1AF;

	/* accent color ------------------------------ */
	--color-clr-accent: #4F57C4; /* ou  615FFF */ 
	--color-clr-hover: #615FFF; /* ou 432DD7 */
	--color-clr-border: #F3F3F3;
}

.custom-toolbar{
    --background:transparent;
    --ion-color-base: transparent;
    display: flex;

    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

ion-header {
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
