.custom-toolbar{
    --background:transparent;
    --ion-color-base: transparent;
    display: flex;

    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

ion-header {
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-button {
	color: #ffffff;
	text-transform: none;
	font-weight: bold;
}

.custom-img{
  border: 2px solid var(--color-clr-accent);
}