<ion-header [translucent]="true">
	<ion-toolbar
		class="custom-toolbar px-4 text-clr-accent font-semibold">
		<div>
			<ion-title
				translate="no">
				Ionic Leçon 1
			</ion-title>
		</div>
		<ion-buttons 
			slot="end"
			color="primary">
			<ion-img 
				src="assets/image/profile/profile.JPEG"
				class="w-10 h-10 rounded-full custom-img object-cover overflow-hidden cursor-pointer"
				routerLink="/container/profile"
			></ion-img>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Ionic Leçon 1</ion-title>
		</ion-toolbar>
	</ion-header>

	<div 
		id="container">
		<strong>Première leçon navigation</strong>
		<p>Cliquez sur le bouton ci-dessous pour aller à la page Profile</p>

		<ion-button 
			color="primary"
			routerLink="/container/profile"
			>
			Aller au profile
		</ion-button>
		
	</div>
</ion-content>
