.custom-toolbar{
    --background:transparent;
    --ion-color-base: transparent;
    display: flex;

    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

ion-header {
    box-shadow: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.div-profile{
    --background:  var(--clr-accent);
    --height: 150px;
}

.block {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

// ion-modal {
//     --height: 250px;
//     --border-radius: 16px 16px 0 0;
// }
.profile-modal{
    --height: 250px;
    --border-radius: 16px 16px 0 0;
}

ion-item{
    --display: flex;
    --align-items: center;
    --gap: 4px;
    --border: 1px solid;

    display: flex;
    align-items: center;
    gap: 4px;
    // cursor: pointer;
}

.custom-icon{
    margin-right: 8px;
}

// profile modale ********************************
.profile-image-modal-toolbar{
    display: flex;
    justify-content: center;

    --display: flex;
}
.modal-title-center{
    --margin-inline: auto;
}
.modal-photo-profile{

    min-height: 200px;
    height: 400px;
}